*log*
*cache*
*checkpoint*

# Ignore the esnli model trained on esnli_train.csv
*_train_trained_model*

# Ignore the cose model
*cose_trained_model*

# Ignore the sanity checks
sanity-checks/

# Ignore files that are too large
*eval_on_train_expl_text_in_esnli_train_format.csv
*eval_on_train_expl_embed.csv
*eval_on_esnli125k_train_gen_embeddings.csv
